.text-editor {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.text-editor .quill {
  display: flex;
  flex-direction: column-reverse;
}

.text-editor .ql-container {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

.text-editor .ql-toolbar {
  border-top: none;
  display: flex;
  justify-content: space-between;
}
